<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to gitPub!</h1>
    <ul>
        <!-- capitalize first letter
            ref: https://www.freecodecamp.org/news/javascript-capitalize-first-letter-of-word/  
            -->
        <% for(let i =0; i< allDrinks.length; i++) { 
            const word = allDrinks[i].name;
            const firstLetter = word.charAt(0);
            const firstLetterCap = firstLetter.toUpperCase();
            const remainingLetters = word.slice(1);
            const capWord = firstLetterCap + remainingLetters;
            %>
            <li>
                <a href="/drinks/<%=i%>"><%=capWord%></a>
            </li>
        <% } %>
    </ul>
    <style>
        body {
            color: blanchedalmond;
            background-color: steelblue;
        }
    </style>
</body>
</html>