<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=food.name[0].toUpperCase() + food.name.slice(1, food.name.length)%></title>
</head>
<body>
    <h1>At foo bar</h1>
    <h2><%=food.name[0].toUpperCase() + food.name.slice(1, food.name.length)%></h2>
    <img src="<%=food.image%>.jpg">
    <h3>Price: <%=food.price%></h3>
    <a href="/foods/">Back to menu</a>
    <style>
        body {
            color: blanchedalmond;
            background-color: steelblue;
        }
    </style>
</body>
</html>